<mat-card class="card-class">
  <mat-card-header>
    <mat-card-title>Title </mat-card-title>
    <mat-card-subtitle class="text-center">Angular Material </mat-card-subtitle>
  </mat-card-header>
  <div class="d-flex justify-content-center">
    <img src="your src" alt="" mat-card-md-image />
  </div>
  <mat-card-content>
    <p class="text-center">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis hic
      quisquam sequi odio est a voluptate eius iste vitae! Tempora asperiores
    </p>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions>
      <button mat-button><mat-icon>thumb_up</mat-icon>like</button>
      <button mat-button><mat-icon>share</mat-icon>share</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
