<p>auto-complete works!</p>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input
      matInput
      [matAutocomplete]="auto"
      [(ngModel)]="Data2"
      [formControl]="FormControl"
    />
    <mat-autocomplete autoActiveFirstOption #auto>
      <mat-option
        [value]="Color.Name"
        *ngFor="let Color of Filteroption | async"
        >{{ Color.Name }}</mat-option
      >
    </mat-autocomplete>
  </mat-form-field>
</form>
<hr />
<!-- /////////////// -->
<form>
  <h4>mat-select</h4>
  <mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select multiple="" [(ngModel)]="selectedValue" name="food">
      <mat-option [value]="food.value" *ngFor="let food of foods">{{
        food.viewValue
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <p>Selected food: {{ selectedValue }}</p>
</form>
<button (click)="Print()">Click</button>
